html,
body {
   height: 100%;
   padding: 0;
   margin: 0;

   font-family: monospace;
}
body {
   padding: 10px;
}
sub {
   font-weight: bold;
}
table {
   width: 60%;
   margin: 0 auto;
   text-align: center;
   border: 1px solid #cecece;
   border-collapse: collapse;
}
thead tr {
   font-weight: bold;
}

tbody tr {
   border-bottom: 1px solid #cecece;
   height: 10px;
}

tbody td {
   padding: 5px 0;
}

tbody tr:nth-child(even) {
   background-color: #cecece;
}

.center-txt {
   text-align: center;
}

.btn-container {
   height: 70%;
   width: 100%;

   position: relative;
}
.btn-container button {
   position: absolute;
   width: 200px;
   height: 200px;

   font-size: 1.5em;
   color: #000000;
   background-color: rgb(255,0,0);
   font-weight: bold;

   border: none;
   border-radius: 50%;
   outline: none;

   cursor: pointer;
   transition: .1s background-color linear, .1s box-shadow linear;
}
.btn-container button.left {
   top: 50%;
   left: 20%;
   transform: translateY(-50%);
}
.btn-container button.right {
   top: 50%;
   right: 20%;
   transform: translateY(-50%);
}
.btn-container button:hover {
   background-color: rgb(0,255,0);
   box-shadow: 0 0 20px rgba(0,0,0,.7), inset 0 0 10px rgba(0,0,0,.7);
}
.btn-container button:disabled {
   box-shadow: none;
   background-color: rgba(162,162,162,.5);
   cursor: default;
}
.btn-container.p2{
  display: none;
}
.btn-container.p2 button{
  width: 100px;
  height: 100px;
}
.btn-container.p2 button.left {
  top: 0;
  left: 0;
}
.btn-container.p2 button.right {
  top: 100%;
  right: 0;
}

.btn-container.p3{
  display: none;
}
.btn-container.p3 button{
  width: 50px;
  height: 50px;
}
.btn-container.p3 button.left {
  top: 100%;
  left: 0;
}
.btn-container.p3 button.right {
  top: 0;
  right: 0;
}

.count-container {
   height: 10%;
   text-align: center;
}
.count-container span {
   font-size: 50px;
}

.timer-container {
   height: 20%;
   text-align: center;
}
.timer-container span {
   font-size: 50px;
}

.readyCheck {
   position: absolute;
   width: 600px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(239, 239, 239, 0.95);
   text-align: center;
   z-index: 2;
}
.readyCheck button {
   height: 50px;
   width: 100px;
   margin-bottom: 10px;
}
